.header{
    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
    left: 0;
    height: 45px;
    
}

.header-container{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0.3em 1em;
}

.brand-logo{
    height: 2em;
}

.content{
    max-width: 1280px;
    margin: 0 auto;
}